{% extends 'base.html' %}
{% block title %}Главное меню{% endblock %}
{% block content %}
    <div class="card p-4">
        <h1 class="text-center mb-4">Страховая компания - Главное меню</h1>
        <div class="d-flex justify-content-center mb-4">
            <a href="{% url 'create' %}" class="btn btn-primary mx-2">Создать новую запись</a>
            <a href="{% url 'view' %}" class="btn btn-primary mx-2">Просмотреть записи</a>
            <a href="{% url 'delete' %}" class="btn btn-primary mx-2">Удалить запись</a>
        </div>
        <h2>Доступные типы полисов</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Тип полиса</th>
                </tr>
            </thead>
            <tbody>
                {% for policy in policy_types %}
                <tr>
                    <td>{{ policy.policy_type }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>Типы полисов отсутствуют.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}